.grm-grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  padding: 0.5ex;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  border: 1px solid black;
}

.grm-label {
  justify-self: end;
  font-weight: bold;
}

.grm-select {
  justify-self: start;
}

.grm-roll {
  justify-self: center;
  font-weight: bold;
}

.grm-hdr {
  font-weight: bold;
}

.grm-tbl-rows {
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  align-content: start;
  grid-row-gap: 0.7ex;
  height: 23.1ex;
}

.grm-tbl-cols {
  grid-template-columns: 1em 1fr repeat(3, 5em) 3em;
  overflow-y: scroll;
  scrollbar-width: none;
}

.grm-name-col {
  justify-self: start;
}

.grm-fumble {
  color: #aa0200;
  font-weight: bold;
}

.grm-success {
  color: #257f11;
  font-weight: bold;
}
