<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">

  <div class="grm-grid" style="grid-template-columns: 1fr 4fr 3fr 2fr 2em 2em 3fr 2em">
    <div class="grm-label">Ability</div>
    <div class="grm-select">          
      <select name="select-ability" data-dtype="String">
        {{#select abl}}
        {{#each abilities as |value ability|}}
        <option value="{{ability}}">{{value}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="grm-label">Saving&nbsp;Throw?</div>  
    <div class="grm-select">
      <input type="checkbox" name="sav" {{checked sav}}/>
    </div>
    <div class="grm-label">DC</div>
    <div class="grm-roll"><input name="input-dc" value="{{dc}}" type="text" style="width: 2em; text-align: center"></div>
    <div class="grm-label">Group&nbsp;Roll</div>
    {{#if rollicon}}
    <div class="grm-roll {{rollgood}}" title="At least half of the group succeeded">{{{rollicon}}}</div>
    {{else}}
    <div class="grm-roll {{rollgood}}" title="At least half of the group rolled this number or higher">{{rollresult}}</div>
    {{/if}}
  </div>

  <div class="grm-grid grm-tbl-cols grm-hdr">
    <div>&nbsp;</div>
    <div class="grm-name-col">Name</div>
    <div>Advantage</div>
    <div>Bonus</div>
    <div>Modifier</div>
    <div>Roll</div>
  </div>

  <div class="grm-grid grm-tbl-cols grm-tbl-rows">
    {{#each tok}}
    <div><span class="value"><input type="hidden" name="rem-{{ this.id }}" value={{ this.id }} /><a class="remove-token" title="Remove from list"><i class="fas fa-times"></i></a></span></div>
    <div class="grm-name-col" value={{ this.id }}><span class="name">{{ this.name }}</span></div>
    <div><span class="value"><input type="hidden" name="adv-{{ this.id }}" value={{ this.adv }} data-dtype="Number"/><a class="advantage-mode" title="{{this.hover}}">{{{this.icon}}}</a></span></div>
    <div><span class="bonus-value"><input name="bon-{{ this.id }}" value={{ this.bon }} type="number" style="width: 4em; text-align: center"></span></div>
    <div><span class="value">{{ this.mod }}</span></div>
    {{#if this.chk}}
    <div><span class="value {{ this.nat }}" title="{{this.roll.result}}">{{{ this.chk }}}</span></div>
    {{else}}
    <div><span class="value {{ this.nat }}" title="{{this.roll.result}}">{{ this.roll.total }}</span></div>
    {{/if}}
    {{/each}}
  </div>

  <div id="grm-damage-buttons" class="grm-grid" style="grid-template-columns: 0.5em 1.5fr 2.5em 4em 2.5em 2.5em 2.5em 2.5em 0.5em 2fr 0.5em">
    <div>&nbsp;</div>
    <div class="grm-label">Damage/Healing</div>
    {{#if this.ver10}}
    <button type="button" class="grm-dmg-button" multiplier="-1" title="Apply healing"><i class="fa-solid fa-heart-circle-plus"></i></button>
    <input name="grm-dmg-input" value="{{ dmg }}" type="text" style="text-align: center">
    <button type="button" class="grm-dmg-button" multiplier="1" title="Apply damage"><i class="fa-solid fa-shield-minus"></i></button>
    <button type="button" class="grm-dmg-button" multiplier="0.5" title="Apply 1/2 damage"><i class="fa-solid fa-shield-halved"></i></button>
    <button type="button" class="grm-dmg-button" multiplier="0.25" title="Apply 1/4 damage"><i class="fa-solid fa-shield-quartered"></i></button>
    <button type="button" class="grm-dmg-button" multiplier="2" title="Apply double damage"><i class="fa-solid fa-shield-xmark"></i></button>
    <div>&nbsp;</div>
    <div class="grm-grid grm-subgrid" style="grid-template-columns: 1fr 2.5em">
      <select name="select-effect" data-dtype="String">
        {{#select effect}}
        {{#each statusEffects}}
        <option value="{{this.id}}">{{localize this.label}}</option>
        {{/each}}
        {{/select}}
      </select>
      <button type="button" class="grm-effect-button" title="Apply effect (shift or middle click to remove)"><i class="fa-solid fa-sparkles"></i></button>
    </div>
    {{else}}
    <button type="button" class="grm-dmg-button" multiplier="-1" title="Apply healing"><i class="fas fa-heart"></i></button>
    <input name="grm-dmg-input" value="{{ dmg }}" type="text" style="text-align: center">
    <button type="button" class="grm-dmg-button" multiplier="1" title="Apply damage"><i class="material-icons md-small">shield</i></button>
    <button type="button" class="grm-dmg-button" multiplier="0.5" title="Apply 1/2 damage"><i class="fas fa-shield-alt"></i></button>
    <button type="button" class="grm-dmg-button" multiplier="0.25" title="Apply 1/4 damage"><i class="material-icons md-small">security</i></button>
    <button type="button" class="grm-dmg-button" multiplier="2" title="Apply double damage"><i class="material-icons md-small">gpp_bad</i></button>
    <div>&nbsp;</div>
    <div class="grm-grid grm-subgrid" style="grid-template-columns: 1fr 2.5em">
      <select name="select-effect" data-dtype="String">
        {{#select effect}}
        {{#each statusEffects}}
        <option value="{{this.id}}">{{localize this.label}}</option>
        {{/each}}
        {{/select}}
      </select>
      <button type="button" class="grm-effect-button" title="Apply effect (shift or middle click to remove)"><i class="material-icons md-small">auto_awesome</i></button>
    </div>
    {{/if}}
    <div>&nbsp;</div>
  </div>

</form>
