<form class="flexcol" autocomplete="off" onsubmit="event.preventDefault();">

  <div class="grm-grid" style="grid-template-columns: 1fr 4fr 5fr 2em 2em 3fr 2em">
    <div class="grm-label">Save</div>
    <div class="grm-select">          
      <select name="select-ability" data-dtype="String">
        {{#select abl}}
        {{#each abilities as |value ability|}}
        <option value="{{ability}}">{{value}}</option>
        {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="grm-label">&nbsp;</div>  
    <div class="grm-label">DC</div>
    <div class="grm-roll"><input name="input-dc" value="{{dc}}" type="text" style="width: 2em; text-align: center"></div>
    <div class="grm-label">Group&nbsp;Roll</div>
    {{#if rollicon}}
    <div class="grm-roll {{rollgood}}" title="At least half of the group succeeded">{{{rollicon}}}</div>
    {{else}}
    <div class="grm-roll {{rollgood}}" title="At least half of the group rolled this number or higher">{{rollresult}}</div>
    {{/if}}
  </div>

  <div class="grm-grid grm-tbl-cols grm-hdr">
    <div>&nbsp;</div>
    <div class="grm-name-col">Name</div>
    <div>Fortune</div>
    <div>Bonus</div>
    <div>Modifier</div>
    <div>Roll</div>
  </div>

  <div class="grm-grid grm-tbl-cols grm-tbl-rows">
    {{#each tok}}
    <div><span class="value"><input type="hidden" name="rem-{{ this.id }}" value={{ this.id }} /><a class="remove-token" title="Remove from list"><i class="fas fa-times"></i></a></span></div>
    <div class="grm-name-col"><span class="name">{{ this.name }}</span></div>
    <div><span class="value"><input type="hidden" name="adv-{{ this.id }}" value={{ this.adv }} data-dtype="Number"/><a class="advantage-mode" title="{{this.hover}}">{{{this.icon}}}</a></span></div>
    <div><span class="bonus-value"><input name="bon-{{ this.id }}" value={{ this.bon }} type="number" style="width: 4em; text-align: center"></span></div>
    <div><span class="value">{{ this.mod }}</span></div>
    {{#if this.chk}}
    <div><span class="value {{ this.nat }}" title="{{this.roll.result}}">{{{ this.chk }}}</span></div>
    {{else}}
    <div><span class="value {{ this.nat }}" title="{{this.roll.result}}">{{ this.roll.total }}</span></div>
    {{/if}}
    {{/each}}
  </div>

</form>
