<div class="dice-tooltip">
    <section class="tooltip-part">
        <div class="grm-grid" style="grid-template-columns: 7fr 4fr 1fr">
            {{#each tok}}
                <div class="grm-name-col">{{this.name}}</div>
                <div class="dice">
                    <ol class="dice-rolls">
                    {{#each this.rolls}}
                        <li class="roll {{this.classes}}">{{this.result}}</li>
                    {{/each}}
                    </ol>
                </div>
                {{#if this.chk}}
                <div class="grm-roll {{this.nat}}" title="{{this.formula}}">{{{this.chk}}}</div>
                {{else}}
                <div class="grm-roll {{this.nat}}" title="{{this.formula}}">{{this.total}}</div>
                {{/if}}
            {{/each}}
        </div>
    </section>
</div>